future 0.18.3
emoji
numpy
lxml
beautifulsoup4
requests
sqlalchemy
python-telegram-bot 20.6
psycopg2-binary 2.9.9
feedparser 6.0.10
pynewtonmath 1.0.1
spongemock 1.0.0
zalgo-text 0.6
geopy 2.4.0
nltk 3.8.1
psutil 5.9.6
aiohttp 3.8.6
Pillow
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
pyrate-limiter
cachetools
pyrogram
tgCrypto
fontTools
gtts
telegraph
tswift
pytz
youtube_dl
PyYAML
redis
pythonping
html_telegraph_poster
pytube
youtube-search-python
instantmusic
PyLyrics
hachoir
pybase64
pySmartDL
validators
bing_image_downloader
google-api-python-client
wget
fake-useragent
asyncio
aiofiles
requests
wget
youtube_search
gpytranslate
bs4
hurry
ujson
pymongo
